<header class="header">
  <div class="container">
    <div class="grid">
      <div class="col-small-4">
        <h1>Olá <span>Felipe</span></h1>
      </div>
      <div class="col-small-4">
        <div class="header-img">
          <img src="../images/header-thumb.png" alt="">
          <div class="header-info">
            <div class="info-clock">
              <img src="../images/info-clock.png" alt="">
            </div>
            <div>
              Oferta!
              <span> Acaba em:</span>
            </div>
            <div id="time"></div>
          </div>
          <p class="header-messages">
            Cartão de Crédito Consignado <br>
            com taxa 1,5%!
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
