<!DOCTYPE html>
<html>
  @@include('./head.html')
  <body>
    @@include('./header.html')

    <section class="section-buttons">
      <div class="container">
        <div class="grid">
          <div class="col-small-4">
            <ul class="list-buttons">
              <li>
                <a href="#">
                  <img src="images/buttons-wallet.png" alt="">
                  <p>Empréstimo Consignado</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/buttons-card.png" alt="">
                  <p>Cartão de Crédito Consignado</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/buttons-gift.png" alt="">
                  <p>Benefícios Meu TUDO</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/buttons-whatsapp.png" alt="">
                  <p>Whatsapp</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/buttons-apple.png" alt="">
                  <p>Download APP</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    @@include('./footer.html')
  </body>
</html>
